<main class="main-container">
  <div class="btn-container" *ngIf="!walletConnected; else Else">
    <button class="btn" (click)="connectWallet()">Connect Wallet</button>
  </div>

  <ng-template #Else>
    <div class="funds-container">
      <p>Funds</p>
      <input type="text" [(ngModel)]="fundAmount" />
      <button class="btn" (click)="fundWallet()">Fund Wallet</button>
    </div>

    <p class="text-info">
      <i>Check the console, all changes are reported there.</i>
    </p>
  </ng-template>
</main>
